<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/public/images/raining.png">
    <link rel="stylesheet" href="/css/style.css">
    <title>About</title>
</head>
<body>
    <div class="container">
        <div class="main_content">
            <div class="help_content" >
                <div class="img_wrapper" >
                    <img src="../../public/images/sunglasses.png"/>
                </div>
                <p>
                    Hello everyone! This is just a random weather application.
                    The information shown might not be tryly as expected.
                    This was more as a showcase Project, just to show you how to get current
                    weather analytics and more...
                    Project was done by combining 2 different <span>API</span> with each-other,
                    which resulted with the final location.
                    Worth mentioning that this application was made with <span>Express.js</span> and pure <span>CSS</span> only.                    
                </p>
            </div>

        </div>

        {{>header}}
        {{>footer}}
    </div>

</body>
</html>