<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/images/Favicon.ico" type="image/x-icon" >
    <link rel="stylesheet" href="/css/style.css">
    <title>StormWeather</title>
</head>
<body>
    <div class="container">
        <div class="main_content">

            <p id="error"></p>
            <form id="weather_form" >
                <input type="text" id="address" name="address" placeholder="location" >
                <button type="submit" >Search</button>
            </form>

            <h2 id="location-msg" ></h2>

            <div class="msg_wrapper">
                <div class="weather_col" >
                    <div class="weather_img_wrapper" >
                        <img src="/images/cloud.png" alt="cloudy">
                    </div>
                    <p name="weather" >Weather</p>
                </div>

                <div class="weather_col" >
                    <div class="weather_img_wrapper" >
                        <img src="/images/windy.png" alt="wind">
                    </div>
                    <p name="wind" >Wind stats</p>
                </div>

                <div class="weather_col" >
                    <div class="weather_img_wrapper" >
                        <img src="/images/celsius.png" alt="Feels like">
                    </div>
                    <p name="temp" >Temperature</p>
                </div>

                <div class="weather_col" >
                    <div class="weather_img_wrapper" >
                        <img src="/images/sunglasses.png" alt="feels like">
                    </div>
                    <p name="feels" >Feels like</p>
                </div>

                <div class="weather_col" >
                    <div class="weather_img_wrapper" >
                        <img src="/images/day-and-night.png" alt="day or night">
                    </div>
                    <p name="d-n" >Day or Night</p>
                </div>
                
                
            </div>    
        </div>

        {{>header}}
        {{>footer}}
    </div>

    <script src="/js/script.js"></script>
</body>
</html>


